doctype html
html
    head
        title Character Generator
    body
        h1 Character Generator
        div#item Item
        script(src='/public/jspm_packages/system.js')
        script(src='/public/config.js')
        script.
            System.import('/public/es6/cg')
