doctype html
html
    head
        title Forge Graphics Dashboard
    body
        h1 Graphics Dashboard
        button#trigger Button
        script(src='/public/jspm_packages/system.js')
        script(src='/public/config.js')
        script.
            System.import('/public/es6/dash')

